.video {
	padding-top: 80px;

	// .video__container

	&__container {
		display: flex;
		justify-content: space-between;
		gap: 24px;
		flex-direction: column;

		@media (min-width: 768px) {
			gap: 84px;
			flex-direction: row;
		}
	}

	// .video__player

	&__player {
		position: relative;
		padding-bottom: 56.25%;
		height: 0;
		overflow: hidden;
		margin-bottom: 20px;

		@media (min-width: 768px) {
			margin-bottom: 24px;
		}

		@media (min-width: 992px) {
			margin-bottom: 32px;
		}
	}

	// .video__iframe

	&__iframe {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		border-radius: 16px;
	}

	// .video__content

	&__content {
		max-width: 1048px;
		flex-shrink: 48;
		order: 1;

		@media (min-width: 768px) {
			order: 0;
		}
	}

	// .video__title

	&__title {
		font-size: 24px;
		font-weight: 900;
		letter-spacing: 0.02em;
		margin-bottom: 16px;

		@media (min-width: 768px) {
			font-size: 32px;
			margin-bottom: 24px;
		}

		@media (min-width: 992px) {
			font-size: 40px;
		}
	}

	// .video__channel

	&__channel {
		font-size: 16px;
		letter-spacing: 0.02em;
		margin-bottom: 12px;

		@media (min-width: 768px) {
			font-size: 20px;
		}

		@media (min-width: 992px) {
			margin-bottom: 24px;
			font-size: 24px;
		}
	}

	// .video__info

	&__info {
		font-size: 16px;
		letter-spacing: 0.02em;
		margin-bottom: 14px;

		@media (min-width: 768px) {
			font-size: 20px;
		}

		@media (min-width: 992px) {
			font-size: 24px;
		}
	}

	// .video__views

	&__views {}

	// .video__date

	&__date {}

	// .video__description

	&__description {
		font-size: 16px;
		letter-spacing: 0.02em;

		@media (min-width: 768px) {
			font-size: 20px;
		}

		@media (min-width: 992px) {
			font-size: 24px;
		}
	}

	// .video__link

	&__link {
		width: max-content;
		white-space: nowrap;
		display: flex;
		align-items: flex-start;
		gap: 4px;

		& .video__no-favorite {
			display: block;
		}

		& .video__favorite {
			display: none;
		}

		& .star {
			display: none;
		}

		// .video__link_active

		&.active {

			& .video__no-favorite {
				display: none;
			}

			& .video__favorite {
				display: block;
			}

			& .star-o {
				display: none;
			}

			& .star {
				display: block;
			}
		}
	}

	// .video__no-favorite

	&__no-favorite {}

	// .video__favorite

	&__favorite {}

	// .video__icon

	&__icon {
		flex-shrink: 0;
	}
}